<script id='cpvg_fieldtypes_form' type='text/html'>
	<div data-bind="value: available_post_types"></div>

	<div id='cpvg-posttype-options'>
		<div>
			<label>Post type:
			<select name='cpvg-posttype-select' id='cpvg-posttype-select' data-bind="enable: selected_list.index() > -1 || viewModel.view_type == 'post',
																					 options:available_post_types,
																					 optionsText: 'value',
																					 optionsValue: 'key',
																					 optionsCaption: ' ',
																					 value: selected_post_type">
			</select></label>
		</div>
		<div data-bind="visible: view_type == 'post'">
			<label for='cpvg-template-select' data-bind="visible: view_type == 'post'">Template:</label>
			<select name='cpvg-template-select' id='cpvg-template-select' data-bind="visible: view_type == 'post', options: available_template_files,
																													 optionsText: 'value',
																													 optionsValue: 'key',
																													 value: selected_post_template">
			</select>

		</div>
			<div id='action-buttons' data-bind="visible: view_type == 'post'">
				<input class='button-secondary action' type='button'
					   id='cpvg-preview' value='Generate Preview'
					   data-bind="click: function(){ viewModel.sendData('generate_preview') }">
				<input class='button-secondary action' type='button'
					   id='cpvg-save-layout' value='Save layout'
					   data-bind="click: function(){ viewModel.sendData('save_layout') }">
				<input class='button-secondary action' type='button'
					   id='cpvg-delete-layout' value='Delete Selected layout'
					   data-bind="click: function(){ viewModel.sendData('delete_layout'); viewModel.current_fieldtype_options.removeAll(); }">
				<span class='action-message'></span>
			</div>
	</div>

	<div id='cpvg-posttype-view'>
		Drag the desired fields here:
		<ol id='cpvg-fieldlist' data-bind="template: { name:'cpvg_form_option_field',
													   foreach: current_fieldtype_options }, sortableList: current_fieldtype_options"></ol>

	</div>
	<div id='cpvg-posttype-fields' data-bind="visible: selected_post_type()">
		<label for='cpvg-posttype-select'>Field Section:</label>
		<select name='cpvg-field-select' id='cpvg-field-select' data-bind="options: viewModel.getAvailableFields(),
																		   optionsText: function(item) { if(item){ return item.charAt(0).toUpperCase() + item.slice(1); } },
																		   value: selected_field_section"></select>
		<br>
		Available fields:
		<div id='cpvg-posttype-fields-content'>
			{{each(section_index, section) viewModel.available_fields.field_sections}}
				<div id='${section}-fieldgroup' class='cpvg-fieldgroup' data-bind='visible: section == selected_field_section()'>
					{{each(field_index, field) viewModel.available_fields[section]}}
						<div id='${section}.${field_index}' class='cpvg-field-draggable cpvg-draggable-field'>${field}</div>
					{{/each}}
				</div>
			{{/each}}
			{{each(section_index, section) viewModel.available_custom_fields.field_sections}}
				<div id='${section}-fieldgroup' class='cpvg-fieldgroup' data-bind='visible: section == selected_field_section()'>
					{{each(field_index, field) viewModel.available_custom_fields[section]}}
						<div id='${section}.${field}' class='cpvg-field-draggable cpvg-draggable-field'>${field}</div>
					{{/each}}
				</div>
			{{/each}}
			<div class='clear'></div>
		</div>
	</div>
	<div id='cpvg-posttype-preview' data-bind="visible: view_type == 'post'">Preview<div id='cpvg-posttype-preview-content'></div></div>
	<div class='clear'></div>
</script>

<script id='cpvg_form_option_field' type='text/html'>
	<li class='cpvg-fieldlist-item'>
		<span class='cpvg-fieldlist-name' data-bind="text:viewModel.formartFieldtypeOptionName(name())"></span>
		<span><a href='#' data-bind='click: removeOptionCtp, text: "Remove"'></a></span><br/>

		<label>Label:<input type='text' class='cpvg-fieldlist-label' data-bind='value: label'></label>
		<span>Type:
			<select data-bind="options: viewModel.available_fieldtypes.types,
										optionsText: 'value',
										optionsValue: 'key',
										value: type"></select>
			<br />
			<span data-bind="visible: viewModel.available_fieldtypes[type()]">Output:
				{{each(output_index,output_option) viewModel.available_fieldtypes[type()]}}
					<select data-bind='options: output_option,
									   optionsText: "value",
									   optionsValue: "key",
									   value: getOutputVar(output_index)'></select>
				{{/each}}
			</span>
		</span>
	</li>
</script>